<a href="https://colab.research.google.com/github/jawakarsri/Colaboratory/blob/main/lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#printing output on screen
print("WELCOME TO THE SESSION OF AI")

WELCOME TO THE SESSION OF AI

In [ ]:

m=54
n=45
r=0

r=m+n
print ("sum = ", r)
r=m-n
print("Subtract = ", r)
r=m*n
print ("Multiply = ", r)
r=m/n
print("Divide = ", r)

sum =  99
Subtract =  9
Multiply =  2430
Divide =  1.2

In [ ]:

#Get Number input from user
today_gen=0.3
gen31 = float(input("Enter Generation in Block 31:"))
today_gen= today_gen+gen31
print("Generation Today=", today_gen)

Enter Generation in Block 31:0.1
Generation Today= 0.4

In [ ]:
#Get String input from the user
progname = input("Enter the program name:")
print (progname)

Enter the program name: LAB
 LAB

In [ ]:
#python String Data Type
str="solar Data Set"
print(str)
print(str[0])
print(str[5:10])
print(str[5:])
print(str*2 )
print(str +"for Pyhton Program ")

solar Data Set
s
 Data
 Data Set
solar Data Setsolar Data Set
solar Data Setfor Pyhton Program

In [ ]:
#list Data Type
list1=["Data1",80977.3,31,0.1]
list2=["Data2",80977.4,32.0,7]
print(list1)
print(list2)
print(list1,list2)

['Data1', 80977.3, 31, 0.1]
['Data2', 80977.4, 32.0, 7]
['Data1', 80977.3, 31, 0.1] ['Data2', 80977.4, 32.0, 7]

In [ ]:
#Tuple Data Type
tupple1=("DATA3",80978.1,33,1.1)
tupple2=("DATA4",80978.2,33,0.5)
print(tupple1)
print(tupple2)
print(tupple1,tupple2)

('DATA3', 80978.1, 33, 1.1)
('DATA4', 80978.2, 33, 0.5)
('DATA3', 80978.1, 33, 1.1) ('DATA4', 80978.2, 33, 0.5)

In [ ]:
print(tupple1[0:2])
print(tupple1[1:])
print(tupple1[0])
print(tupple1*2)
print(tupple1+tupple2)

('DATA3', 80978.1)
(80978.1, 33, 1.1)
DATA3
('DATA3', 80978.1, 33, 1.1, 'DATA3', 80978.1, 33, 1.1)
('DATA3', 80978.1, 33, 1.1, 'DATA4', 80978.2, 33, 0.5)

In [ ]:
#Dictionary Examples
d1={'Data1':'Apartment1','Block':23,'Genration in each block ':0.2}
d2={'Data1':'Apartment2','Block':25,'Genration in each block ':0.8}
print(d1)
print(d2)
print(d1.keys())
print(d1.values())

{'Data1': 'Apartment1', 'Block': 23, 'Genration in each block ': 0.2}
{'Data1': 'Apartment2', 'Block': 25, 'Genration in each block ': 0.8}
dict_keys(['Data1', 'Block', 'Genration in each block '])
dict_values(['Apartment1', 23, 0.2])

In [ ]:
n1=23
n2=32
res=0
print("IF n1=2 and n2=3,Then ")
res = n1+n2
print("Num1 + num2 = ",res)
res = n1-n2
print("Num1 - num2 = ",res)
res = n1*n2
print("Num1 * num2 = ",res)
res = n1/n2
print("Num1 / num2 = ",res)
res = n1%n2
print("Num1 % num2 = ",res)
#change values 
n1=4
n2=2
print("IF n1=4 and n2=2,Then ");
res = n1**n2
print("Num1 ** num2 = ",res)
res = n1//n2
print("Num1 // num2 = ",res)

IF n1=2 and n2=3,Then
Num1 + num2 =  55
Num1 - num2 =  -9
Num1 * num2 =  736
Num1 / num2 =  0.71875
Num1 % num2 =  23
IF n1=4 and n2=2,Then
Num1 ** num2 =  16
Num1 // num2 =  2

In [ ]:

n1=23
n2=20
res=0
print("If num1 = 23 and n2 = 20, Then ");
if n1==n2:
   print("Num1 is equal to Num2")
else:
   print("Num1 is not equal to Num2")

If num1 = 23 and n2 = 20, Then
Num1 is not equal to Num2